{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "react/prefer-stateless-function": [
            0,
            {
                "ignorePureComponents": true
            }
        ]
    }
}